// Colors
$light-tan: #e7e6e2;
$dark-gray: #333436;
$coffee-black: #191919;
$coffee-dark: #61493d;
$coffee-brown: #4e3b2d;
$coffee-light: #967762;
$alt-blue: #2a343e;

// Font Stack
$slabstack: 'Josefin Slab', sans-serif;

// Media Queries
$lg-mobile: "(min-width: 480px)";
$sm-tablet: "(min-width: 640px)";
$tablet: "(min-width: 768px)";
$desktop: "(min-width: 1024px)";
$x-large: "(min-width: 1280px)";