body {
    background: $light-tan;
    overflow-x: hidden;
    @media screen and #{$desktop} {
        font-size: 18px;
    }          
    @media screen and #{$large} {
        font-size: 20px;
    }          
}

.section--2-col {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    @media screen and #{$tablet} {
        display: grid;
        grid-template-columns: 45% 45%;
        grid-gap: 10%;
    }      
}

.grid-3-col {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
}

.page-section {
    padding: 10% 5%;
    @media screen and #{$tablet} {
        padding: 5% 5%;
    }       
}

.page-section-full {
    padding: 0;
}

.section-inner {
    width: 100%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.img-full {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 75px 1em 0;
    h1 {
        color: #fff;
    }
}