// About Section
.section-about {
    .about-content {
      align-items: center;
    }
    .about-us {
      width: 100%;
      height: 100%;
      margin-bottom: 10%;
      @media screen and #{$tablet} {
        grid-column: 2;
        grid-row: 1;
        width: 100%;
        margin-bottom: 0;
      }
      h2 {
        text-align: center;
        color: $coffee-dark;
        @media screen and #{$tablet} {
          text-align: left;
        }
      }
      h3 {
        margin: 1em 0 0;
        text-align: right;
        color: $alt-blue;
        @media screen and #{$large} {
          text-align: center;
          font-size: 2em;
        }
      }
    }
    img {
      @media screen and #{$tablet} {
        grid-column: 1;
      }
    }
  }


  // Locations Section
  .section-locations {
    background: $dark-gray url("~/assets/images/stone-bw.jpg") center/cover no-repeat;
    color: $light-tan;
  
    .locations-content {
      display: flex;
      flex-direction: column;
      @media screen and #{$tablet} {
        flex-direction: row;
        column-gap: 10%;
      }
    }
  
    .locations-summary {
      width: 100%;
      .locations-img {
        display: flex;
        justify-content: space-between;
        margin: 25px 0;
        img {
          display: block;
          width: 45%;
          flex: 0 1 auto;
          height: 100%;
        }
      }
      @media screen and #{$tablet} {
        width: 45%;
      }
    }
  
    .locations-addresses {
      display: flex;
      flex-direction: column;
      margin: auto;
      width: 100%;
      @media screen and #{$lg-mobile} {
        flex-direction: row;
        column-gap: 10%;
      }    
      @media screen and #{$tablet} {
        flex-direction: column;
        width: 45%;
      }        
      @media screen and #{$desktop} {
        flex-direction: row;
        justify-content: space-around;
        column-gap: 0;
      }           
      h3 {
        margin: 0 0 1em;
        color: $coffee-light;
      }
      img {
        width: 1em;
        max-height: 1em;
        margin-right: 1em;
        object-position: center;
        opacity: 0.8;
      }
      img:nth-of-type(2) {
        margin: 1rem 10px 1rem 0;
      }
    }
  
    .location-item {
      width: auto;
      margin: 2em 0; 
      @media screen and #{$lg-mobile} {
        width: 45%;
      }    
      @media screen and #{$tablet} {
        width: auto;
      }    
      div {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        line-height: 1;
        margin-bottom: 1em;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }


  // Testimonials Section
.section-testimonial {
    background: $coffee-brown url("~/assets/images/grinder.jpg") center/cover no-repeat;
    background-attachment: fixed;
    .testimonial-content {
        display: flex;
        width: 90%;
        max-width: 1400px;
        color: $light-tan;
        text-align: center;
        text-shadow: 2px 2px 2px black;
        span:not(.quotesource) {
            font-size: 5em;
            font-style: italic;
            margin-left: -10px;
            padding-right: 10px;
            line-height: 1;
        }
        .quotesource {
            display: block;
            font-size: 1.5em;
            margin-top: 1em;
        }
        h4 {
            font-size: 1.25em;
            font-weight: normal;
            line-height: 1.25em;
            margin: 8px 0;
        }
        .quote {
            padding: 0 1em;
        }
    }
}



// Our Team Section
.section-team {
  background: $light-tan;
  text-align: center;
  h2 {
    padding: 1em 2%;
    color: $alt-blue;
    margin-bottom: 0;
  }
  .team-members {
    display: flex;
    flex-wrap: wrap;
  }
  .team-member { 
    display: flex;
    align-items: flex-end;
    min-width: 5%;
    width: 33.33%;
    height: 43vw;
    background-position: center;
    background-size: cover;
    transition: 0.6s ease-in-out;
    &:nth-child(5) {
      background-position: 25%;
    }
    @media screen and #{$desktop} {
      min-width: 5%;
      height: 480px;
      flex: 1;
      &:hover {
        flex: 2;
      }
    }
    &:hover {
      transition: 0.6s ease-in-out;
      .team-member-name {
        transition: 0.6s ease-in-out;
        opacity: 1;
      }
    }
  }
  .team-member-name {
    display: flex;
    background: rgba(150, 150, 150, 0.25);
    opacity: 0;
    width: 100%;
    height: 15%;
    min-height: 50px;
    align-items: center;
    justify-content: center;
    transition: 0.6s ease-in-out;
    font-size: 1em;
    color: $light-tan;
    @media screen and #{$tablet} {
      font-size: 1.5em;
    }
    @media screen and #{$desktop} {
      font-size: 2.25em;
    }
  }
  .team-message {
    background: $alt-blue;
    padding: 1.5em 2%;
    p {
      font-size: 1.25em;
      color: $light-tan;
      max-width: 1300px;
      margin: auto;
      @media screen and #{$desktop} {
        font-size: 1.5em;
      }
    }
  }
}

.section-blogposts {
  .blogposts-content {
    display: flex;
    flex-direction: column;  
  }
  .latest-posts {
    margin-top: 2em;
    @media screen and #{$desktop} {
      display: grid;
      grid-template-columns: repeat(3, 30%);
      grid-gap: 5%;
    }
  }
  .blogpost {
    margin-bottom: 2em;
    @media screen and #{$sm-tablet} and (max-width: 1023px) {
      display: flex; 
      align-items: flex-start;
    }
  }
  img {
    display: block;
    margin-bottom: 1em;
    @media screen and #{$sm-tablet} and (max-width: 1023px) {
      flex: 1 1 40%;
      width: 40%;
      height: auto;
      margin-right: 5%;
    }
  }
  .post-content {
    text-align: center;
    @media screen and #{$sm-tablet} and (max-width: 1023px) {
      flex: 1 1 55%;
      width: 55%;
      height: auto;
    }    
  }
  h3,
  .blogpost-date,
  .blogpost-preview {
    display: block;
    text-align: left;
  }
  .blogpost-date {
    font-style: italic;
    color: $coffee-light;
  }
  .moreposts {
    display: inline-block;
    margin-left: auto;
  }
}


.section-gallery {
  .gallery-header {
    padding: 3em 2%;
    background: $dark-gray url("~/assets/images/beans-bw.jpg") center/cover no-repeat;
    background-attachment: fixed;
    text-align: center;
    color: $light-tan;
    @media screen and #{$tablet} {
      padding: 4em 2%;
    }
    h3 {
      font-size: 1.25em;
      @media screen and #{$tablet} {
        font-size: 1.5em;
      }
    }
  }
}